.footer-main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 98.88vw;
  gap: 20px;
  background-color: rgb(116, 197, 198);
  color: #ffffff !important;
  font-size: 20px;
  font-weight: 400;
}
