.product-list-main-container {
  width: 99.9vw;
  height: auto;
}

.product-list-wraper {
  display: flex;
  flex-wrap: wrap;
  gap: 6vw;
  height: auto;
  padding: 2vw 4vw;
}

.product-container {
  width: 18vw;
  height: 20vw;
  box-shadow: 2px 4px 6px 2px lightgray;
  border: 1px solid blue;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.product-container:hover {
  transform: translateY(5px);
}

.delete-product-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-product-button > button {
  background-color: brown;
  color: #ffffff;
  height: 2vw;
  width: 10vw;
  cursor: pointer;
  font-size: 400;
  font-size: 1vw;
  border: 1px solid brown;
  border-radius: 5px;
}

.product-search-cont {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding: 1vw 1vw 1vw 0vw;
}
.product-search-btn-input-cont {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.search-btn-cont {
  width: 5vw;
  height: 2vw;
  background-color: brown;
  color: #ffffff;
  font-size: 0.9vw;
  border: 1px solid brown;
  border-radius: 7px;
  cursor: pointer;
}
