.add-product-main-container {
  width: 99.9vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.add-product-heading {
  padding: 1vw 0vw;
}

.add-product-form-container {
  border: 1px solid #000000;
  padding: 0.521vw;
  width: 20vw;
  height: auto;
}
